body
{
	background-color: #912c2c;
}

.search-bar input[type=text]
{
	padding: 6px;
	borde: none;
	margin-top: 8px;
	font-size: 17px;
}

.search-bar button
{
	padding: 6px;
	color: black;
	font-size: 17px;
	background-color: #a569bf;
	border: 2px solid;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
}

.search-bar button:hover
{
	font-size: 17px;
	background-color: white;
	border: 2px solid #a569bf;
	border-radius: 4px;
}